.body {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.content-container{
  height: 100%;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.f-between {
  justify-content: space-between;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  height: 100%;
  flex: 1 0 20%;
  padding: 5px 20px;
  box-sizing: border-box;
}

.content {
  flex: 13 0 80%;
  height: 100%;
  background-color: rgb(178, 221, 221);
}

.gap-1 {
  gap: 10px;
}